[submodule "libs/CLBlast"]
	path = libs/CLBlast
	url = https://github.com/CNugteren/CLBlast.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/backward-cpp"]
	path = libs/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
